.login__logo {
  position: fixed;
  background-image: url("../../img/logo.png");
  height: 40px;
  width: 160px;
  margin: 5px auto;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.login {
  background-image: url("../../img/loginBgImage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 55px;
  text-align: center;
  border-radius: 10px;
  z-index: 10;
  background: #36393f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit;
  background-color: #7289da;
  color: white;
}

.login__text {
  color: white;

  h3 {
    font-size: 16px;
    color: #72767d;
    font-weight: normal;
  }
}
