@import "./../util/variables.scss";

.sidebar {
  flex: 0.35;
  max-width: 250px;
  flex-direction: column;
  display: flex;
  color: white;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: $backgroundColorDark;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
  width: 100%;
  height: 35px;
  border-radius: 20px;

  & > input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    color: white;
    outline: 0;
    caret-color: white;
  }

  & > .MuiSvgIcon-root {
    color: gray;
  }
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: $backgroundColorDarker;
}

.sidebar__footerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;

  & > .MuiIconButton-root {
    color: white;
  }
}

.sidebar__footerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px;
}

.sidebar__chats {
  flex: 1;
  overflow: auto;
}
